In [1]:
from datetime import datetime as dt

In [2]:
dt.now()

datetime.datetime(2022, 11, 14, 12, 39, 12, 31915)

In [3]:
type(dt.now())

datetime.datetime

In [4]:
# convert datetime to string
dt.strftime(dt.now(), '%Y-%m-%d-%H') # 2022-06-07-10

'2022-11-14-12'

In [5]:
dt.strftime(dt(2022, 6, 5, 7, 28, 6, 768041), '%Y-%m-%d-%H') # 2022-06-07-10

'2022-06-05-07'

In [6]:
dt.strftime(dt(2022, 6, 5, 7, 28, 6, 768041), '%Y-%m-%d-%-H')

'2022-06-05-7'

In [7]:
dt_part = dt.strftime(dt(2022, 6, 5, 7, 28, 6, 768041), '%Y-%m-%d-%-H')

In [8]:
dt_part

'2022-06-05-7'

In [9]:
from datetime import timedelta as td

To get the next hour data, we have to increment the hour using timedelta() function

In [10]:
# Incrementing one hour in datetime format
dt(2022, 6, 5, 7, 28, 6, 768041) + td(hours=1)

datetime.datetime(2022, 6, 5, 8, 28, 6, 768041)

In [11]:
dt_part + td(hours=1) # cannot be applied directly with string

TypeError: can only concatenate str (not "datetime.timedelta") to str

In [12]:
dt.strptime(dt_part, '%Y-%m-%d-%H') # convert back to datetime format

datetime.datetime(2022, 6, 5, 7, 0)

In [13]:
# convert to datetime format and Incrementing one hour
dt.strptime(dt_part, '%Y-%m-%d-%H') + td(hours=1)

datetime.datetime(2022, 6, 5, 8, 0)

In [14]:
# converting string to datetime object to increment the hour
# converting datetime object to string again
dt.strftime(dt.strptime('2022-06-05-7', '%Y-%m-%d-%H') + td(hours=1), '%Y-%m-%d-%-H')

'2022-06-05-8'

In [15]:
next_file = f"{dt.strftime(dt.strptime('2022-06-05-7', '%Y-%m-%d-%H') + td(hours=1), '%Y-%m-%d-%-H')}.json.gz"

In [16]:
next_file

'2022-06-05-8.json.gz'

In [17]:
import requests

In [31]:
res = requests.get(f'https://data.gharchive.org/{next_file}')

In [32]:
print(res.headers.get("Content-type"))

application/gzip

In [33]:
file = open(f'{next_file}', 'wb')

In [34]:
file.write(res.content)

41575819

In [35]:
file.close()

In [37]:
!ls -ltr *.json.gz

-rw-r--r-- 1 edward edward 41575819 Nov 14 13:13 2022-06-05-8.json.gz